{% extends "auctions/layout.html" %}

{% block body %}

    <h2>Create Listing</h2>


    <form action="{% url 'create' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control" autofocus type="text" name="title" placeholder="title">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="desc" placeholder="Description">
        </div>
        <div class="form-group">
            <input class="form-control" type="number" name="starting_bid" placeholder="starting bid">
        </div>
        <div class="form-group">
            <input class="form-control" type="url" name="photo" placeholder="Picture(Optional)">
        </div>
        <div class ="form-group">
            <select class="form-control" name = "category" placeholder = "Category">
                <option selected disabled>Select a Category</option>
                {% for cat in categories %}
                <option value="{{cat}}">{{cat}}</option>
                {% endfor %}
            </select>
        </div>
        <input class="btn btn-primary" type="submit" value="Create Listing">
    </form>


{% endblock %}